<div class="topnav">
    <div>
        <img
            src="https://d1e3z2jco40k3v.cloudfront.net/-/media/1d61c06944de4d62b4ead6e393611003.png?h=101&iar=0&w=131&rev=5fb1726cf48a4be4915a86735defa02a&hash=E95FA2E6411378EF4299F7122D7066A6">
    </div>
    <a href="/ourproduct">Our Products</a>
    <a href="#about">Our Story</a>
    <a href="/contactus">Contact Us</a>
</div>




<div>
    <img
        src="https://cf-store.widencdn.net/mccormick/c/0/7/c07dcccb-db2e-4b63-94fa-c50af9bbc270.jpg?response-content-disposition=inline%3B%20filename%3D%22recipe_lander_4.jpg%22&Expires=1656049232&Signature=lIzVYx5FFWMLa~llyecFp6cR0ukmkqCMlV4mqNz78Y6i2~Hn2w3PgdgUGxu3wLbfMsIhBQk~Ots1pkvCPbWx0qlSaBJGZ0oRKony3ts-2QsMQT1-zF2oQi9R-zAEMG5rrvNLgJe~8DOFBm4pAzFsofd~XJ7bkRD8ETuXjCwchIVTIuPMki6ya8UI1PwW2AHPYBL3d0jXrDGRJT5biEKuVr0g5jocj9CoqokOa2x0tczPnoTDa7-56mE4zCkIE434OZKD87MZD-w-ba39kEa3xYPGbCK~nBGF9w3ckA9MToY5szGQVzKKqcwmK3dr-pVmNifrU2BxxwyM9aqY1dnh~w__&Key-Pair-Id=APKAJD5XONOBVWWOA65A">

</div><br><br>
<div class="recipes">
    <div >
        <img class="images"
        src="https://mccormick.widen.net/content/rxb3ppdlc3/original/pineapple_salsa_with_cilantro_8781_800x800.jpg" width="250px" >
    </div>
    <div>
        <img class="images"
            src="https://mccormick.widen.net/content/4kizeatc6x/original/cabbage_salad_with_ginger__cilantro_dressing_4392_800x800.jpg" width="250px">
    </div>
    <div>
        <img class="images"
            src="https://mccormick.widen.net/content/4bzlfpbnzm/original/Pho-Vietnamese_Noodle_Soup_with_Lemon_Grass_and_Ginger_800x800.jpg" width="250px">

    </div>
    <div>
        <img class="images"
            src="https://mccormick.widen.net/content/4wyvtwwds0/original/spaghetti_with_bolognese_sauce_1189_800x800.jpg" width="250px">
    </div>
</div><br><br>
<div class="recipes">
    <div >
        <img class="images"
        src="https://mccormick.widen.net/content/7waxl9t2dm/original/Zucchini_and_Lemon_Spaghetti_800x800.jpg" width="250px" >
    </div>
    <div>
        <img class="images"
            src="https://mccormick.widen.net/content/e4agd8d5v6/original/lemongrass_lemonade_8535_800x800.jpg" width="250px">
    </div>
    <div>
        <img class="images"
            src="https://mccormick.widen.net/content/gcxuohmxpi/original/potato_gratin_with_garlic__parsley_8221_800x800.jpg" width="250px">

    </div>
    <div>
        <img class="images"
            src="https://mccormick.widen.net/content/8bhzpy4qux/original/lemongrass_poundcake_8649_800x800.jpg" width="250px">
    </div>
</div><br><br>
<footer>
    <p>Copyright © 2022 Botanical Food Company, Pty Ltd. All Rights Reserved.</p>
    </footer>