

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="/">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': isCollapsed }">
        <ul class="navbar-nav mr-auto">
            <li></li>
            <li class="nav-item active">
                <a class="nav-link " href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employee">Employee</a>
            </li>

        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3>Edit Employee</h3>
                    <form [formGroup]="editEmployeeForm">
                        <div>
                            <label>Name :</label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Enter Name">
                            <div *ngIf="f.name.touched && f.name.invalid">
                                <div class="text-error" *ngIf="f.name.errors.required">Name is Required</div>
                            </div>
                        </div><br />
                        <div>
                            <label>Date Of Birth :</label>
                            <input type="text" class="form-control" formControlName="dateOfBirth"
                                placeholder="Enter Date Of Birth">
                            <div *ngIf="f.dateOfBirth.touched && f.dateOfBirth.invalid">
                                <div class="text-error" *ngIf="f.dateOfBirth.errors.required">Date of Birth is Required
                                </div>
                            </div>
                        </div><br />
                        <div>
                            <label>Phone Number :</label>
                            <input type="text" class="form-control" formControlName="phoneNumber"
                                placeholder="Enter Phone Number">
                            <div *ngIf="f.phoneNumber.touched && f.phoneNumber.invalid">
                                <div class="text-error" *ngIf="f.phoneNumber.errors.required">Phone Number is Required
                                </div>
                                <div class="text-error" *ngIf="f.phoneNumber.errors.pattern">Phone Number is invalid
                                </div>
                            </div>
                        </div><br />
                        <div style="float: right;">
                            <button (click)="onSubmit() " class="btn btn-primary">Submit</button>
                            <button (click)="onCancel()" class="btn btn-secondary">Cancel</button>
                        </div>
                        <!-- <p class="text-error">{{error}}</p> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>