<p>ourproduct works!</p>
<div>
    <!-- <img src="https://d1e3z2jco40k3v.cloudfront.net/-/media/proj…ension=webp&hash=3E6FDA4C5719C17CA884FDFBC6A816D6"> -->
</div>

<h2>FEATURED PRODUCTS</h2>
<div class="images">
 
    <div>
        <img
            src="https://d1e3z2jco40k3v.cloudfront.net/-/media/project/oneweb/gg21/gg2021-products/00875208001551_a1c1_master.png?rev=9f13d32993da4d6c8639fbcc2ae0a68f&vd=20210318T143839Z&extension=webp&hash=8BB49554900EAEC6D8FDA8294DA0590F" width="230px">
    </div>
    <div>
        <img src="https://mccormick.widen.net/content/yaimjqueqk/original/garlic_stir_in_paste_400x400.png" width="230px">
    </div>
    <div>
        <img src="https://mccormick.widen.net/content/awzzd8bvnh/original/ginger_stir_in_paste_400x400.png" width="230px">
    </div>
</div>
<!-- <h2>DISCOVER PRODUCTS</h2> -->
<div class="images">
<h3>GOURMENT GARDEN<sup>TM</sup> LIGHTLY DRIED BASIL</h3>
<h3>GOURMENT GARDEN<sup>TM</sup>  GARLIC STIR-IN PASTE</h3>
<h3>GOURMENT GARDEN<sup>TM</sup>  GARLIC STIR-IN PASTE</h3>
    </div>